<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Mohamed Bakuly Link Tree</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="script.js" defer></script>
</head>
<body>
  <h3>Welcome to my Link Tree</h3>
  <div id="Image">
    <img src="pro.jpg" alt="A boy smiling">
  </div>
    <p>Mohamed Bakuly</p>

    <h6>Where you can find my work</h6>
  <div id="Links">
    <ul>
      <li><a href="https://www.linkedin.com/in/mohamed-rashid-khamis-053b66199">LinkedIn</a> Connect</li>
      <li><a href="https://www.behance.net/bakulybakulain">Behance</a> Connect</li>
      <li><a href="https://twitter.com/mohamedbakuly">Twitter</a> Connect</li>
      <li><a href="https://www.instagram.com/mohamed.bakuly">Instagram</a> Connect</li>
      <li><a href="https://replit.com/@MOHAMEDBAKULY"> Replit</a> Connect</li>
    </ul>
  </div>

</body>

</html>